body {
  margin: 0 0 0 0;
}

.login-root {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

p {
  display: inline;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  margin: 12px 0px 12px 0px;
}

a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.input-box {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 323px;
}

.input-field {
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(175, 175, 175);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  height: 25px;

  transition: border-color 0.2s;
}

.input-field:hover {
  border-color: rgb(26, 82, 214);
  transition: border-color 0.2s;
}

.input-field:focus {
  outline: none;
  border-color: rgb(26, 82, 214);

  transition: border-color 0.2s;
}

.submit-btn {
  background-color: rgb(26, 82, 214);
  border: none;
  border-radius: 20px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 10px 8px 10px;
  margin-top: 7px;
  transition: background-color 0.2s;
}

.submit-btn:hover {
  cursor: pointer;
}

.submit-btn:active {
  background-color: rgb(12, 46, 125);
  transition: background-color 0.2s;
}

.sign-in-btn {
  background-color: rgb(230, 230, 230);
  color: rgb(140, 140, 140);
}

.sign-in-btn:active {
  background-color: rgb(200, 200, 200);
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 0 0;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 12px 0 12px 0;
  align-items: center;
  box-shadow: 0 0 5px rgb(100, 100, 100);
  justify-content: space-evenly;
}

li {
  display: inline;
}

.navbar-div-right {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
  align-items: baseline;
  margin: 0 0 0 0;
}

.navbar-div-left {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-start;
  margin: 0 0 0 0;
}

.navbar-div-center {
  display: flex;
  justify-content: center;
  flex: 1;
}

.main-display {
  display: flex;
  margin: 64px 0 0 0;
}

.user {
  display: flex;
  top: 100px;
  flex: 1;
  height: 100%;
}

.position-fixer {
  margin: 10px 0 0 10px;
  position: fixed;
  display: flex;
  align-items: flex-end;
}

.user-comment {
  height: 100px;
  width: 300px;
  resize: none;
  overflow: hidden;
}

.comments {
  flex: 2;
}
