<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <ul class="navbar">
      <div class="navbar-div-left">
        <li>
          <a style="margin: 0 0 0 20px" href="/"><p>Home</p></a>
        </li>
      </div>

      <div class="navbar-div-center">
        <input class="input-field" style="width: 400px" />
      </div>

      <div class="navbar-div-right">
        <li>
          <a href="/login">
            <button class="submit-btn" style="margin: 0 0 0 10px">Login</button>
          </a>
        </li>
        <li>
          <button class="submit-btn sign-in-btn" style="margin: 0 15px 0 8px">
            Sign In
          </button>
        </li>
        <li>
          <a style="margin-right: 20px">About</a>
        </li>
      </div>
    </ul>
  </body>
</html>
